<div id="dash" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-3 border-bottom">
  <h1 class="h2">Deleted Request</h1>
</div>
<div>
  <p *ngIf="loading"><em>Loading...</em></p>
  <div class="container-fluid align-items-center">
    <div #TABLE class="body-content">
      <mat-table mat-table [dataSource]="dataSource" matSort matSortActive="requestNo" matSortDisableClear matSortDirection="desc">

        <ng-container matColumnDef="requestDate">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Report Date </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.requestDate}} </td>
        </ng-container>

        <ng-container matColumnDef="requestNo">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Req No.  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.requestNo}} </td>
        </ng-container>

        <ng-container matColumnDef="status">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6>Status</h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.status}} </td>
        </ng-container>

        <ng-container matColumnDef="department">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Department  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.department}} </td>
        </ng-container>

        <ng-container matColumnDef="section">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Section  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.section}} </td>
        </ng-container>

        <ng-container matColumnDef="agency">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Agency  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.agency}} </td>
        </ng-container>

        <ng-container matColumnDef="description">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Description  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.description}} </td>
        </ng-container>

        <ng-container matColumnDef="targetDate">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Target Date  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{group.targetDate}} </td>
        </ng-container>

        <ng-container matColumnDef="category">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Category </h6></kbd>  </th>
          <td mat-cell *matCellDef="let group"> {{group.category}} </td>
        </ng-container>

        <ng-container matColumnDef="severity">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Severity  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group" class="text-nowrap"> <div [ngClass]="{ 'bnormal': group.severity=='Normal','bcritical': group.severity=='Critical','bmcritical': group.severity=='Most Critical' }" style='box-shadow:1px 1px 1px 0px black; width:15px; height:15px;border-radius:7px;display:inline-block;'></div> &nbsp; <b> {{group.severity}} </b> </td>
        </ng-container>

        <ng-container matColumnDef="overdueDays">
          <th group mat-header-cell *matHeaderCellDef mat-sort-header> <kbd> <h6> Overdue Days  </h6> </kbd> </th>
          <td mat-cell *matCellDef="let group"> {{calc(group.targetDate)}} </td>
        </ng-container>

        <ng-container matColumnDef="del-resorebutton">
          <th group mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let group" (click)="$event.stopPropagation()">
            <div class="btn-group mr-2">
              <button mat-button type="button" class="btn btn-sm btn-outline-secondary" (click)="delete(group.requestNo)"><mat-icon>delete_forever</mat-icon></button>
              <button mat-button type="button" class="btn btn-sm btn-outline-secondary" (click)="restore(group.requestNo)"><mat-icon>restore</mat-icon></button>
            </div>
          </td>
        </ng-container>

        <tr style="height: auto;" class="table-dark text-nowrap" mat-header-row *matHeaderRowDef="displayedColumns;sticky:true;"></tr>
        <tr mat-row *matRowDef="let row;let even = even; columns: displayedColumns;" [ngClass]="{gray: even}"></tr>
      </mat-table>
      <mat-paginator #paginator style="background-color:transparent;" [showFirstLastButtons]="true" [pageSize]="dataSource.data.length" [pageSizeOptions]="[dataSource.data.length,5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
</div>
